@font-face{
    font-family: Montserrat;
    src: url(fonts/Montserrat);
}

@font-face{
    font-family: Space-Mono;
    src: url(fonts/Space-Mono);
}

body {
    margin: 0;
    background-color: #393939;
    color: lightgrey;
}

.container {
    height: 100vh;
    line-height: 100vh;
    width: 300px;
    margin: auto;
}

.vertical-align{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

h1 {
    font-family: Montserrat;
}

p {
    font-family: Space-Mono;
}

a {
    color: #efefef;
}