body {
  background: rgb(0,0,0);
  color: rgb(224,224,224);
  font-family: Montserrat, sans-serif;
}

.hero {
  width: 100%;
<<<<<<< ver.0.3
  height: 86vh;
=======
  height: 90vh;
>>>>>>> master
}

.row.hero-row {
  width: 70vw;
  margin: 0 auto;
  height: 87vh;
}

.col.align-self-center.hero-col.image {
  text-align: center;
}

.hero-heading {
  font-size: 32px;
}

@media (min-width: 768px) {
  .hero-heading {
    font-size: 40px;
  }
}

.hero-subheading {
  font-size: 18px;
}

@media (min-width: 768px) {
  .hero-subheading {
    font-size: 24px;
  }
}

.hero-p {
  font-size: 12px;
}

@media (min-width: 768px) {
  .hero-p {
    font-size: 16px;
  }
}

.rounded-circle.hero-image {
  width: 150px;
}

@media (min-width: 768px) {
  .rounded-circle.hero-image {
    width: 250px;
  }
}

.project {
  text-align: center;
  padding-top: 70px;
}

.project h1 {
  font-size: 36px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .project h1 {
    font-size: 60px;
    font-weight: 700;
  }
}

.project h2 {
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .project h2 {
    font-size: 27px;
    font-weight: 300;
  }
}

.link {
  font-size: 16px;
}

@media (min-width: 768px) {
  .link {
    font-size: 21px;
  }
}

.link.learn-more {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .link.learn-more {
    margin-right: 15px;
  }
}

#toileet {
  background-color: #e5f6f9;
}

img {
  width: 560px;
}

.copyright {
  text-align: center;
  font-weight: 100;
  font-size: 11px;
  padding: 10px;
}

.toileet#toileet {
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
}
